article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	display: block
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls] ){
	display: none
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

a:focus { .tab-focus ()
	
}

a:hover,a:active {
	outline: 0
}

sub,sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic
}

#map_canvas img {
	max-width: none
}

button,input,select,textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle
}

button,input {
	*overflow: visible;
	line-height: normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

body {
	background-color: #FAF9F6 !important
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	z-index: 20;
	min-height: 100%;
	overflow: visible
}

#header {
	height: 49px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1001;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	*left: 0
}

#header .header-holder {
	width: 960px;
	margin: 0 auto
}

#header .header-holder .logo {
	float: left;
	padding-top: 9px;
	height: 32px
}

#header .header-holder .header-nav {
	padding-left: 48px;
	float: left;
	width: 500px
}

#header .header-holder .header-nav a {
	float: left;
	font-size: 14px;
	margin-right: 24px;
	line-height: 50px;
	padding: 0 12px
}

#header .header-holder .header-nav-right {
	float: right;
	color: #999
}

#header .header-holder .header-nav-right a {
	font-size: 14px;
	margin: 0 5px;
	line-height: 50px
}

#header .header-holder .msg-count {
	color: #FFF;
	background: #4DB07A;
	padding: 1px 5px;
	margin-left: 5px;
	font-size: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

#header .header-holder a.active {
	background: url(../../images/menu_bar_button_gb_02.png) repeat-x;
	border-width: 0 1px;
	border-style: solid;
	border-color: #e5e5e5;
	padding: 0 11px
}

#header .header-holder a.active:hover {
	color: #999
}

#header .header-search {
	float: left;
	padding: 10px 0
}

#header .header-search .btn-v1 {
	display: none
}

#header #search_input {
	height: 24px;
	padding: 1px 0 1px 21px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
	background: url(../../images/icon_search.png) no-repeat scroll 3px 5px
		transparent;
	color: #999;
	line-height: 17px;
	width: 50px
}

#header .tools-holder {
	float: right;
	height: 25px;
	padding: 2px 0 3px;
	font-size: 14px;
	margin-top: 10px;
	color: #999;
	margin-left: 40px
}

#header #user-tools {
	float: left;
	line-height: 19px;
	margin: 0 -1px 0 0;
	border: 1px solid transparent;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative
}

#header #user-tools.mouseon {
	border: 1px solid #999;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(50, 50, 50, .25);
	-moz-box-shadow: 0 1px 1px rgba(50, 50, 50, .25);
	box-shadow: 0 1px 1px rgba(50, 50, 50, .25)
}

#header #user-tools a {
	float: left;
	text-align: right
}

#header #user-tools a span {
	float: left;
	text-align: right;
	padding: 2px 26px 0 5px;
	background: url(../../images/btn-tools.gif) no-repeat 100% -1px;
	min-width: 50px
}

#header #user-tools a:hover span {
	background-position: 100% -50px
}

#header #user-tools .drop {
	position: absolute;
	top: 25px;
	left: 0;
	display: none
}

#header #user-tools .drop li {
	padding: 5px 2px;
	line-height: 19px
}

#header #user-tools .drop li a {
	float: none;
	display: block;
	padding: 0 12px 0 5px
}

#header #user-tools .drop li a:hover {
	background: #ededed;
	text-decoration: none
}

#popup-layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999998;
	background-color: #fff;
	opacity: .8;
	display: none
}

div.with-border {
	*border: 1px solid #DEDEDE;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background-color: #FFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}

#navigation {
	width: 960px;
	margin: 110px auto -65px;
	position: relative;
	z-index: 9
}

#main {
	margin: 110px auto 0;
	position: relative;
	min-height: 300px;
	width: 960px;
	z-index: 8
}

#main .main-left {
	width: 630px;
	float: left;
	position: relative
}

#main .main-right {
	width: 285px;
	float: right
}

#main h1 {
	font-size: 16px;
	font-weight: 700;
	color: #999;
	position: absolute;
	margin-top: -23px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden
}

#main h1 span {
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	color: #BBB;
	float: right;
	*margin-top: -20px
}

#main h2 {
	font-size: 14px;
	font-weight: 700;
	color: #999;
	position: absolute;
	margin-top: -21px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden
}

#main h2.lighter {
	font-weight: 400;
	color: #999
}

#main h2 span {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	color: #BBB;
	float: right
}

.paging-holder {
	width: 100%;
	text-align: center;
	margin: 30px 0
}

.paging-holder .paging {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	line-height: 25px;
	font-size: 0
}

.paging-holder .paging li {
	font-size: 14px;
	margin-left: -1px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.paging-holder .paging li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 3px;
	*border: 1px solid #DEDEDE;
	height: 35px;
	width: 35px;
	line-height: 35px;
	font-weight: 700;
	background: #FFF;
	text-decoration: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	*line-height: 16px;
	*padding: 10px 3px 0;
	*height: 25px
}

.paging-holder .paging li a.current,.paging-holder .paging li a:hover {
	background: #F6F6F6
}

.paging-holder .paging li a.disable {
	background: #FFF;
	cursor: default
}

.paging-holder .paging li a .next-icon,.paging-holder .paging li a .prev-icon
	{
	margin: 10px 0 0;
	*margin: 0
}

#back-to-top {
	display: block;
	width: 39px;
	height: 39px;
	background: url(../../images/button_backtotop.png) no-repeat scroll 0 0;
	position: fixed;
	left: 50%;
	margin-left: 490px;
	bottom: 46px;
	display: none
}

#back-to-top:hover {
	background-position: -41px 0
}

#feedback-button {
	position: fixed;
	z-index: 999997;
	right: 0;
	top: 200px;
	*border: 1px solid #DEDEDE;
	width: 14px;
	padding: 5px;
	background-color: #fff
}

#feedback-button a {
	text-decoration: none
}

#feedback {
	width: 270px;
	height: 165px;
	border: 1px solid #E1E1E1;
	position: fixed;
	top: 0;
	z-index: 999999;
	padding: 10px;
	font-size: 14px;
	background: #fff;
	left: 50%;
	margin-left: -135px;
	top: 200px;
	display: none
}

#feedback .feedback-arrow {
	background: url(../../images/arrow.gif) no-repeat scroll 20px 0
		transparent;
	position: absolute;
	height: 9px;
	width: 50px
}

#feedback img {
	float: left;
	margin-right: 10px
}

#feedback label {
	font-size: 16px;
	font-color: #333;
	font-weight: 700;
	line-height: 25px;
	display: block;
	margin-bottom: 5px
}

#feedback textarea {
	width: 258px;
	height: 78px;
	margin: 8px 0 11px;
	border: 1px solid #E1E1E1;
	resize: none;
	padding: 5px;
	box-shadow: none
}

#feedback a.right {
	line-height: 33px;
	margin-right: 10px
}

#feedback .feedback-result {
	padding: 40px 10px;
	text-align: center;
	display: none
}

#feedback .feedback-result a.btn-v1 {
	margin-top: 20px
}

#footer {
	width: 100%;
	margin: 60px 0 0;
	overflow: hidden;
	padding: 10px 0;
	position: relative;
	border-top: 1px solid #DEDEDE;
	bottom: 0
}

#footer span {
	font-size: 12px;
	color: #ccc;
	line-height: 25px
}

#footer .footer-container {
	width: 960px;
	margin: 0 auto
}

#footer .footer-items {
	float: right;
	overflow: hidden;
	line-height: 25px;
	font-size: 12px;
	color: #999
}

#footer .footer-items li {
	float: left;
	margin: 0 -16px 0 16px;
	padding: 0 16px 0 0;
	background: url(../../images/bullet-01.gif) no-repeat 100% 4px
}

#popup-login {
	width: 400px;
	height: 270px;
	position: fixed;
	top: 0;
	z-index: 999999;
	font-size: 14px;
	background: #fff;
	left: 50%;
	top: 50%;
	margin: -135px 0 0 -170px;
	display: none;
	border: 1px solid #DEDEDE
}

#popup-login .close-btn {
	float: right;
	margin: 5px;
	font-size: 12px;
	color: #BBB
}

#popup-login .top {
	background: #FFF;
	padding: 30px 60px;
	height: 160px
}

#popup-login .top .content p {
	margin-bottom: 30px;
	position: relative;
	color: #666
}

#popup-login .top .content p b {
	font-size: 18px;
	font-weight: 400
}

#popup-login .top .content .row {
	position: relative;
	margin-bottom: 15px
}

#popup-login .top .content input[type="text"],input[type="password"] {
	width: 220px;
	color: #666
}

#popup-login .top .content input[type="checkbox"] {
	margin: 0 0 2px 48px
}

#popup-login .top .content label {
	color: #BBB;
	margin-right: 18px
}

#popup-login .top .content span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	color: #999
}

#popup-login .bottom {
	border-top: 1px solid #DEDEDE;
	padding: 15px 60px;
	background: #FCFCFC;
	font-size: 12px;
	color: #999;
	height: 19px
}

#popup-login .bottom .content img {
	margin: 0 5px 0 10px
}

html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-style: normal;
	font: inherit;
	vertical-align: baseline;
	background: transparent
}

img,object,embed {
	max-width: 100%
}

html {
	overflow-y: scroll
}

ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #999;
	outline: 0
}

a:hover,a:active {
	outline: 0;
	text-decoration: underline
}

a.invalid {
	cursor: default
}

a.invalid:hover,a.invalid:active {
	text-decoration: none
}

a.c666 {
	color: #666
}

a.c333 {
	color: #333
}

a.green {
	color: #5EB685
}

del {
	text-decoration: line-through
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

th {
	font-weight: 700;
	vertical-align: bottom
}

td {
	font-weight: 400;
	vertical-align: top
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input,select {
	vertical-align: middle
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word
}

input[type="radio"] {
	vertical-align: text-bottom
}

input[type="checkbox"] {
	vertical-align: bottom;
	*vertical-align: baseline
}

.ie6 input {
	vertical-align: text-bottom
}

select,input,textarea {
	font: 99% sans-serif
}

table {
	font-size: inherit;
	font: 100%
}

small {
	font-size: 85%
}

strong,th {
	font-weight: 700
}

td,td img {
	vertical-align: top
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

pre,code,kbd,samp {
	font-family: monospace, sans-serif
}

.clickable,input[type=button],input[type=submit],button {
	cursor: pointer
}

button,input,select,textarea {
	margin: 0
}

button {
	width: auto;
	overflow: visible
}

.ie7 img {
	-ms-interpolation-mode: bicubic
}

.ie6 html {
	filter: expression(document.execCommand ( "BackgroundImageCache", false, true)
		)
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif
}

body,select,input,textarea {
	color: #333
}

li {
	list-style: none
}

a.link-v1 {
	padding: 2px 3px;
	color: #666
}

a.link-v1.active {
	font-weight: 700;
	color: #333
}

a.link-v1.active:hover {
	text-decoration: none
}

.btn-v1 {
	color: #999;
	border: 1px solid #E1E1E1;
	background: #fafafa;
	padding: 4px 13px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	vertical-align: center;
	line-height: 17px
}

.btn-v1:hover {
	-webkit-box-shadow: 0 1px 1px #fff inset, 0 1px 1px #f5f5f5;
	box-shadow: 0 1px 1px #fff inset, 0 1px 1px #f5f5f5;
	text-decoration: none
}

.btn-v1:active {
	-webkit-box-shadow: 0 1px 1px #f3f3f3 inset, 0 1px 1px #f5f5f5;
	box-shadow: 0 1px 1px #f3f3f3 inset, 0 1px 1px #f5f5f5;
	text-decoration: none
}

.btn-v1.w4 {
	padding: 4px
}

.btn-v1.disable {
	color: #bbb !important;
	cursor: default !important
}

.btn-v1.disable:hover {
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-v2 {
	color: #FFF;
	background: #4DB07A;
	padding: 5px 14px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	vertical-align: center;
	line-height: 17px
}

.btn-v2:hover {
	border: 1px solid #409667;
	padding: 4px 13px;
	-webkit-box-shadow: 0 1px 1px #4EC684 inset, 0 1px 1px #f5f5f5;
	box-shadow: 0 1px 1px #4EC684 inset, 0 1px 1px #f5f5f5;
	text-decoration: none
}

.btn-v2:active {
	border: 1px solid #409667;
	padding: 4px 13px;
	-webkit-box-shadow: 0 1px 1px #43A56F inset, 0 1px 1px #f5f5f5;
	box-shadow: 0 1px 1px #43A56F inset, 0 1px 1px #f5f5f5;
	text-decoration: none
}

.btn-v2.w4 {
	padding: 5px
}

.btn-v2.w4:hover,.btn-v2.w4:active {
	padding: 4px
}

.btn-small {
	font-size: 12px;
	padding: 2px 5px
}

.edit-icon {
	background: url(../../images/edit-icon.gif) no-repeat scroll 0 2px
		transparent;
	padding: 0 5px;
	height: 100%
}

.btn-loading {
	padding: 3px 0;
	width: 320px;
	-webkit-border-radius: 0;
	border-radius: 0
}

a.disabled,a.disabled:hover,a.disabled:active {
	color: #999;
	border: 1px solid #d9d9d9;
	background: #f8f8f8;
	background: -moz-linear-gradient(top, #f1f1f1 0, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1),
		color-stop(100%, #f5f5f5) );
	background: -webkit-linear-gradient(top, #f1f1f1 0, #f5f5f5 100%);
	background: -o-linear-gradient(top, #f1f1f1 0, #f5f5f5 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0, #f5f5f5 100%);
	background: linear-gradient(to bottom, #f1f1f1 0, #f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f1f1f1',
		endColorstr='#f5f5f5', GradientType=0 );
	-webkit-box-shadow: 0;
	box-shadow: 0;
	cursor: default
}

.btn-toggle.active {
	display: none
}

.drop-box {
	margin: 0;
	position: relative
}

.drop-box .open {
	width: 103px;
	height: 31px;
	text-align: center;
	line-height: 30px;
	color: #333;
	display: block;
	padding-right: 15px;
	background: url(../../images/bg-open.gif) no-repeat
}

.drop-box .drop {
	position: absolute;
	top: 0;
	left: 0;
	width: 118px;
	background: url(../../images/bg-drop-right.gif) no-repeat 100% 0
}

.drop-box .drop .holder {
	padding: 31px 0 0;
	background: url(../../images/bg-drop-left.gif) no-repeat
}

.drop-box .drop .frame {
	background: url(../../images/bg-drop-bottom.gif) no-repeat 0 100%;
	padding: 0 0 4px
}

.drop-box .drop .bottom {
	height: 1%;
	overflow: hidden;
	padding: 0 10px 3px;
	background: url(../../images/bg-drop-middle.gif) repeat-y
}

.drop-box .drop .button .button-right {
	width: 85px
}

.drop-box .drop .button {
	margin: 8px 0 0
}

.drop-box .drop .check-form {
	text-align: center
}

.check-form .row {
	height: 1%;
	overflow: hidden;
	padding: 5px 5px 5px 0
}

.check-form .check {
	float: left;
	padding: 0;
	width: 16px;
	height: 15px;
	margin: 0 5px 0 0
}

.check-form label {
	color: #333;
	display: block
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	display: inline-block;
	height: 18px;
	padding: 5px 4px;
	line-height: 18px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	color: #999;
	outline: 0
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	background-color: #fff;
	border: 1px solid #ccc;
	resize: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-ms-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: rgba(153, 153, 153, .6);
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(51, 51, 51, .1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(51, 51, 51, .1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(51, 51, 51, .1)
}

.dn {
	display: none
}

.clear {
	clear: both
}

.m0 {
	margin: 0
}

.left {
	float: left
}

.right {
	float: right
}

.female-icon {
	background: url(../../images/m-f-o.png) no-repeat scroll 0 0;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 19px;
	width: 16px
}

.male-icon {
	background: url(../../images/m-f-o.png) no-repeat scroll 0 -19px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 19px;
	width: 17px
}

.omale-icon {
	background: url(../../images/m-f-o.png) no-repeat scroll 0 -38px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 23px;
	width: 16px
}

.delete-icon {
	height: 15px;
	width: 15px;
	background: url(../../images/btn-close.gif) no-repeat scroll 0 0
		transparent;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.like-icon-v2 {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -218px 0;
	float: left;
	margin-right: 5px
}

.note-icon-v2 {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -240px 0;
	float: left;
	margin-right: 5px
}

.tag-icon-v2 {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -263px 0;
	float: left;
	margin-right: 5px
}

.add-icon-v2 {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -286px 0;
	float: left;
	margin-right: 5px
}

.msg-icon-v2 {
	display: block;
	width: 22px;
	height: 20px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -311px 0;
	float: left;
	margin-right: 5px
}

.note-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -48px -3px;
	float: left;
	margin-right: 5px
}

.user-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -96px -3px;
	float: left;
	margin-right: 5px
}

.star-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -111px
		-3px;
	float: left;
	margin-right: 5px
}

.prev-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -157px
		-3px;
	margin-right: 5px
}

.next-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -170px
		-3px;
	margin-right: 5px
}

.splite-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 2px;
	height: 14px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -190px
		-3px;
	margin-right: 5px
}

.txt-btn-container {
	display: none;
	margin-right: 10px
}

.txt-btn-container a.txt-btn {
	color: #999
}

.txt-btn-container a.reselect:hover {
	color: #333
}

a.has-prompt:hover .prompt {
	display: block
}

.prompt {
	position: absolute;
	margin-top: -4px;
	display: none
}

.prompt .prompt-arrow {
	width: 0;
	height: 0;
	border-width: 5px 4px;
	border-style: dashed dashed solid dashed;
	border-color: transparent transparent #000 transparent;
	line-height: 0
}

.prompt .prompt-text {
	background-color: #000;
	color: #eee;
	height: 21px;
	text-align: center;
	line-height: 21px;
	font-size: 11px;
	padding: 0 7px;
	*margin-top: -5px
}

.prompt-left {
	margin-left: -33px
}

.prompt-left-fixed {
	margin-left: -13px
}

.prompt-left-txt {
	margin-left: -55px
}

.prompt-left .prompt-arrow {
	left: 100%;
	margin-left: -15px;
	position: relative
}

.prompt-right {
	margin-left: 3px
}

.prompt-right-txt {
	margin-left: 55px
}

.prompt-right .prompt-arrow {
	margin-left: 6px
}

.prompt-head-fix {
	margin: -15px 0 0 13px
}

.prompt-cc-fix {
	margin-top: 15px
}

.new {
	font: 9px Helvetica;
	color: red;
	margin-left: 5px;
	vertical-align: middle
}

.like {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	color: #999
}

.like span,.like-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll 0 -3px;
	float: left;
	margin-right: 5px
}

.like:hover {
	color: #666
}

.like.active:hover {
	color: #999
}

.like.active span {
	background-position: -16px -3px
}

.like.disable {
	cursor: default
}

.like.disable:hover {
	color: #999
}

.note p {
	margin: 10px 0 15px 60px;
	color: #666;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 1.5em
}

.link-row {
	margin: 0 0 0 60px;
	color: #666;
	font-size: 12px;
	line-height: 14px;
	position: relative
}

.link-row .right {
	margin-left: 10px
}

.link-row .left {
	margin-right: 10px
}

.note .avatar {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px
}

.note span.desc {
	color: #999;
	font-size: 12px
}

.note span.desc.l24 {
	line-height: 24px;
	display: block
}

.note.disable {
	cursor: default
}

.note.disable:hover {
	color: #999
}

.comment-btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	line-height: 14px;
	cursor: pointer;
	color: #999
}

.comment-btn span,.comment-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -80px -3px;
	float: left;
	margin-right: 5px
}

.comment-btn:hover,.comment-btn.active {
	text-decoration: underline
}

.comment-btn.disable {
	cursor: default
}

.comment-btn.disable:hover {
	color: #999
}

.approve-btn,.disapprove-btn {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	line-height: 14px;
	color: #999;
	cursor: pointer
}

.approve-btn:hover em,.disapprove-btn:hover em {
	text-decoration: underline
}

.approve-btn span,.approve-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -32px -4px;
	float: left;
	margin-right: 5px
}

.approve-btn.active span {
	background-position: -32px -18px
}

.disapprove-btn span,.disapprove-icon {
	display: block;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -66px
		-17px;
	float: left;
	margin-right: 5px
}

.disapprove-btn.active span {
	background-position: -48px -17px
}

.approve-btn.active,.disapprove-btn.active {
	cursor: default
}

.approve-btn.active:hover em,.disapprove-btn.active:hover em {
	text-decoration: none
}

.img-mask {
	height: 100%;
	width: 100%;
	background: url(../../images/bg-greylayer.png) repeat scroll 0 0
		transparent;
	position: absolute;
	display: none;
	top: 0;
	left: 0
}

.image:hover .img-mask {
	display: block
}

a.tag {
	color: #0084B4 !important
}

a.tag:hover {
	text-decoration: underline
}

.tag-auto-complete {
	position: absolute;
	background: #fff;
	border: 1px solid #DEDEDE;
	font-size: 13px;
	z-index: 999;
	top: 0;
	left: 0;
	min-width: 152px
}

.tag-auto-complete span {
	color: #BBB;
	line-height: 24px;
	padding: 0 10px
}

.tag-auto-complete p {
	color: #666;
	line-height: 24px;
	padding: 0 10px;
	margin: 0;
	cursor: pointer
}

.tag-auto-complete p.hover {
	background: #F1F1F1
}

.user-info .avatar {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px
}

.user-info .avatar img {
	width: 50px;
	height: 50px
}

.user-info .name {
	color: #666
}

.user-info .desc {
	color: #999;
	font-size: 12px
}

.arrow {
	background: url(../../images/arrow.gif) no-repeat;
	width: 15px;
	height: 8px
}

.arrow-grey {
	background: url(../../images/arrow-grey.gif) no-repeat;
	width: 15px;
	height: 8px
}

.arrow-fcfcfc {
	background: url(../../images/arrow-fcfcfc.png) no-repeat;
	width: 15px;
	height: 8px
}

em.error {
	border: 1px solid #DEDEDE;
	color: #999;
	background: #FFC;
	padding: 5px 6px;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 15px;
	vertical-align: top
}

#main .sider-login {
	margin-bottom: 30px
}

#main .sider-login-bottom {
	font-size: 12px;
	margin-top: 15px
}

#main .sider-login-bottom .btn-v2 {
	font-size: 14px;
	margin-right: 10px
}

#main .sider-login-bottom .green {
	color: #5EB685
}

#main .siderbar {
	padding-top: 15px !important
}

#main .siderbar .aside {
	padding: 15px 0 30px;
	border-bottom: 1px solid #DEDEDE;
	overflow: hidden
}

#main .siderbar .aside h3 {
	margin-bottom: 15px;
	font-weight: 700;
	color: #666
}

#main .siderbar .aside h3 a {
	font-weight: 400
}

#main .siderbar .aside ul {
	margin-left: -18px
}

#main .siderbar .aside ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #999
}

#main .siderbar .aside ul li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0 7px 2px;
	line-height: 14px;
	vertical-align: top
}

#main .siderbar .aside .all-cate {
	margin-bottom: 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #666;
	line-height: 17px
}

#main .siderbar .aside .all-cate.active {
	color: #333;
	font-weight: 700
}

#main .siderbar .aside .price {
	font-size: 16px;
	margin-bottom: 15px
}

#main .siderbar .aside .price.over {
	background-color: #999;
	color: #fff
}

#main .siderbar .aside .price.over:hover {
	border: 0;
	box-shadow: none;
	padding: 5px 14px
}

#main .siderbar .aside .price span {
	font-size: 22px;
	font-family: Georgia
}

#main .siderbar .aside .original-price {
	color: #666;
	margin-left: 10px
}

#main .siderbar .aside .original-price span {
	color: #666;
	font-size: 14px;
	font-family: Georgia;
	text-decoration: line-through
}

#main .siderbar .aside .small-avatar-container {
	font-size: 0
}

#main .siderbar .aside .small-avatar-container img {
	max-height: 25px;
	max-width: 25px;
	margin: 0 5px 5px 0
}

#main .siderbar .aside .hottag {
	margin-top: 8px
}

#main .siderbar .aside .hottag span {
	color: #CCC;
	margin-right: 3px
}

#main .siderbar .aside .brand {
	font-size: 12px;
	color: #999
}

#main .siderbar .aside .into-time {
	font-size: 12px;
	color: #999;
	line-height: 25px;
	margin-bottom: -15px
}

#main .siderbar .aside .into-time img {
	max-height: 25px;
	max-width: 25px;
	float: left;
	margin-right: 10px;
	margin-bottom: -15px
}

#main .siderbar .aside .find-friends {
	color: #666;
	line-height: 20px;
	margin-left: -5px
}

#main .siderbar .aside .sider-weibo-share {
	cursor: pointer
}

#main .siderbar .aside p.c999 {
	color: #999
}

#main .siderbar .aside.mobile-download {
	border: 0;
	padding-bottom: 0
}

#main .siderbar .aside.mobile-download p {
	font-size: 12px;
	color: #999
}

#main .siderbar .note {
	margin-top: 15px;
	position: relative
}

#main .siderbar .note span.desc {
	margin: 5px 60px 0;
	line-height: 16px
}

#main .siderbar .aside .followBtn {
	position: absolute;
	top: 0;
	right: 0
}

.followBtn.s0 span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -81px
		-18px
}

.followBtn.s1 span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 22px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -96px
		-18px;
	margin-right: -5px
}

.followBtn.s3 span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 13px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -118px
		-18px;
	margin-right: -2px
}

#main .arrow-grey {
	position: absolute;
	top: -8px;
	left: 95px;
	z-index: 99
}

#main .comments {
	margin: 10px 60px 0 60px;
	border: 1px solid #DEDEDE;
	background-color: #F8F8F8;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	display: none
}

#main .container {
	margin-top: -10px
}

#main .container .comment {
	margin: 9px;
	padding-top: 10px;
	border-top: 1px solid #DEDEDE;
	position: relative
}

#main .container .comment .avatar {
	height: 32px;
	width: 32px
}

#main .container .comment .avatar img {
	max-height: 32px;
	max-width: 32px
}

#main .container .comment p {
	margin: 5px 0 10px 42px;
	font-size: 13px
}

#main .container .delete-btn {
	position: absolute;
	right: 0;
	top: 10px;
	display: none
}

#main .container .comment:hover .delete-btn {
	display: block
}

#main .new-comment {
	margin: 9px;
	padding-top: 10px;
	border-top: 1px solid #DEDEDE
}

#main .new-comment .content {
	display: block;
	width: 446px;
	padding: 6px;
	font-size: 13px;
	margin-bottom: 15px;
	color: #BBB
}

#main .new-comment a {
	line-height: 26px;
	margin-right: 15px
}

#main .main-left .note {
	border-top: 1px solid #F3F3F3;
	padding: 15px 14px;
	position: relative
}

#main .note .note-time {
	color: #BBB
}

#main .note .yours {
	color: #666;
	padding: 3px;
	margin-top: -3px;
	background: #FFFDCA
}

#main .note label {
	color: #999;
	display: block;
	margin: 10px 0
}

#main .note textarea {
	margin: -20px 0 10px 60px;
	width: 530px;
	height: 100px;
	color: #BBB;
	border-color: #DEDEDE
}

#main .note-prompt {
	background: #fcfcfc;
	border: 1px solid #DEDEDE;
	margin: -37px 0 10px 60px;
	width: 528px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 12px;
	color: #999;
	padding: 5px;
	position: relative;
	height: 15px;
	z-index: 9
}

#main .note .cancel-modify-btn {
	line-height: 26px;
	margin: 0 10px 15px 0
}

#main .note-prompt .arrow-fcfcfc {
	position: absolute;
	top: 0;
	margin: -8px 0 0 10px
}

#main .note .note-weibo-share {
	display: none
}

#main .note:hover .note-weibo-share {
	display: block
}

#main .fold-note {
	margin: 0;
	padding: 5px 0;
	border-top: 1px solid #F3F3F3;
	font-size: 12px;
	color: #BBB
}

#extand-btn {
	color: #ccc
}

#main .new-note {
	margin-top: -1px;
	background: #FDFCFA
}

#main .new-note em {
	float: right;
	color: #999;
	margin: 4px 13px 0 0;
	padding: 2px;
	font-size: 12px
}

#main .new-note .note-register {
	margin: 15px 0 15px 60px;
	color: #999
}

#main .new-note .note-register .btn-v2 {
	margin-left: 10px
}

#main .new-note .note-register span {
	line-height: 27px;
	font-size: 12px
}

.tag-auto-complete {
	top: 45px;
	left: 75px
}

.new-comment-form {
	position: relative
}

.new-comment-form .tag-auto-complete {
	top: 0;
	left: 0
}

.text_area {
	visibility: hidden;
	border-color: #DEDEDE;
	position: absolute;
	width: 530px;
	word-wrap: break-word
}

#main .main-right div.with-border {
	padding: 15px 14px
}

#main .main-left {
	line-height: 1.35em;
	color: #666
}

#main .activities {
	overflow: hidden;
	font-size: 13px;
	margin-bottom: 30px
}

#main .activity {
	border-top: 1px solid #F3F3F3;
	margin-top: -1px;
	padding: 30px 14px
}

#main .activity>.content {
	margin: 15px 85px 0 75px
}

#main .activity .name {
	color: #0084B4 !important
}

#main .activity .link-row {
	margin: 10px 0 0 0
}

#main .activity .link-row .time {
	color: #999
}

#main .activity .like-container {
	font-size: 0
}

#main .activity .like-container .image {
	height: 105px;
	width: 105px;
	margin: 0 5px 5px 0;
	position: relative;
	float: left
}

#main .activity .like-container .image img {
	max-height: 105px;
	max-width: 105px
}

#main .activity a.right {
	font-size: 13px
}

#main .activity .note-container {
	overflow: hidden;
	margin-top: 0
}

#main .activity .note-container .image {
	height: 105px;
	width: 105px;
	position: relative;
	margin: 15px 0 16px
}

#main .activity .note-container .image img {
	max-height: 105px;
	max-width: 105px
}

#main .activity .note-container .activity-note {
	margin-top: -1px;
	padding: 15px 0 0 0;
	border-top: 1px solid #F3F3F3
}

#main .activity .add-container .image {
	width: 180px;
	position: relative;
	margin-bottom: 10px
}

#main .activity .add-container .image img {
	max-height: 180px;
	max-width: 180px
}

#main .activity .add-container .like {
	margin-bottom: 15px
}

#main .activity .add-container .comments {
	margin-top: 35px
}

#main .activity.small {
	padding: 15px 14px
}

#main .activity.small .mt15 {
	margin-top: 15px
}

#main .activity.small .mt15>.name {
	float: left;
	*zoom: 1;
	margin-right: 5px
}

#main .activity.small .mt15>.desc {
	display: block;
	overflow: hidden
}

#main .comments {
	margin: 10px 0 0
}

#main .comments .arrow-grey {
	left: 155px
}

#main .comments .content {
	width: 406px
}

#main .no-data {
	height: 300px
}

#main .no-data p {
	line-height: 20px;
	width: 120px;
	position: relative;
	margin: 60px auto;
	color: #999
}

.left-quote-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 12px;
	height: 14px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -133px
		-17px;
	margin-right: 3px;
	float: left
}

.right-quote-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 12px;
	height: 14px;
	background: url(../../images/guoku_icon.png) no-repeat scroll -149px
		-16px;
	margin-left: 3px
}

#main .user-info .name,#main .user-info .desc {
	font-size: 13px
}

#main #items-loading {
	text-align: center;
	width: 100%;
	border-top: 1px solid #F3F3F3;
	padding: 10px 0
}

#main #items-loading a {
	color: #999
}

#main #items-loading a.invalid {
	color: #BBB
}

#main ul.users {
	font-size: 0
}

#main .users li {
	padding: 30px 15px 30px 15px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 240px;
	position: relative;
	font-size: 14px;
	vertical-align: top
}

#main .users li .avatar {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 10px 10px 0
}

#main .users li .avatar img {
	max-width: 100px;
	max-height: 100px
}

#main .users li .user-info {
	color: #999;
	margin-left: 110px
}

#main .users li .desc {
	color: #999;
	margin: 5px 0 15px
}